## All of the code for this project will reside within this notebook

## Datasets

For this project, we will be using the  [coinbase](https://intranet.hbtn.io/rltoken/qxNSNQUc-7AyTu4exzUxIg "coinbase")  and  [bitstamp](https://intranet.hbtn.io/rltoken/EAG7kiX_FfApWPkb2dsd6Q "bitstamp")  datasets

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Task 0. From Numpy
def from_numpy(array):
    """
    Creates a pd.DataFrame from a np.array

    Args:
        array: np.array from which a DataFrame will be created

    Returns:
        newly created pd.DataFrame
    """
    # Create column labels. The length of column labels has to match the number
    # of columns. 
    num_columns = array.shape[1]
    column_names = [chr(ord('A') + x) for x in range(num_columns)]

    task0_df = pd.DataFrame(array, columns=column_names)

    return task0_df

In [3]:
# 0-main
np.random.seed(0)
A = np.random.randn(5, 8)
print(from_numpy(A))
B = np.random.randn(9, 3)
print(from_numpy(B))

          A         B         C         D         E         F         G  \
0  1.764052  0.400157  0.978738  2.240893  1.867558 -0.977278  0.950088
1 -0.103219  0.410599  0.144044  1.454274  0.761038  0.121675  0.443863
2  1.494079 -0.205158  0.313068 -0.854096 -2.552990  0.653619  0.864436
3  2.269755 -1.454366  0.045759 -0.187184  1.532779  1.469359  0.154947
4 -0.887786 -1.980796 -0.347912  0.156349  1.230291  1.202380 -0.387327

          H
0 -0.151357
1  0.333674
2 -0.742165
3  0.378163
4 -0.302303
          A         B         C
0 -1.048553 -1.420018 -1.706270
1  1.950775 -0.509652 -0.438074
2 -1.252795  0.777490 -1.613898
3 -0.212740 -0.895467  0.386902
4 -0.510805 -1.180632 -0.028182
5  0.428332  0.066517  0.302472
6 -0.634322 -0.362741 -0.672460
7 -0.359553 -0.813146 -1.726283
8  0.177426 -0.401781 -1.630198

In [4]:
# Task 1. From Dictionary
data = {
    'A': [0.0, 'one'],
    'B': [0.5, 'two'],
    'C': [1.0, 'three'],
    'D': [1.5, 'four']
    }
columns = ['First', 'Second']

task1_df = pd.DataFrame.from_dict(data, orient='index', columns=columns)

In [5]:
# 1-main
print(task1_df)

   First Second
A    0.0    one
B    0.5    two
C    1.0  three
D    1.5   four

In [2]:
# Task 2. From File
def from_file(filename, delimiter):
    """
    Loads data from a file as a dataframe

    Args:
        filename: file to load
        delimiter: delimiter for the file

    Returns:
        the loaded pd.DataFrame
    """
    if filename.split('.')[1] == 'csv':
        return pd.read_csv(filename, delimiter=delimiter)
    if filename.split('.')[1] == 'json':
        return pd.read_json(filename)
    else:
        return "This only works for .csv file and .json files."

In [7]:
# 2-main
df1 = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
print(df1.tail())
df2 = from_file('data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')
print(df2.tail())
# df3 = from_file('/home/bsbanotto/GitHub_year_in_review/json_files/bsbanotto_commit_info.json', ',')
# print(df3.tail())

          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
2099755  1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
2099756  1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
2099757  1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
2099758  1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
2099759  1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

         Volume_(Currency)  Weighted_Price
2099755       13553.433078     4006.390309
2099756        3614.083168     4006.017232
2099757        4775.647308     4006.003635
2099758       10814.241898     4005.719991
2099759        7021.183546     4005.745614
          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
4363452  1587513360  6847.97  6856.35  6847.97  6856.35      0.125174
4363453  1587513420  6850.23  6856.13  6850.23  6850.89      1.224777
4363454  1587513480  6846.50  6857.45  6846.02  6857.45      7.089168
4363455  1587513540  6854.18  6854.98  6854.18  6854.98      0.012231
4363456  1587513600  6850.60  6850.60  6850.60  6850.60      0.014436

         Volume_(Currency)  Weighted_Price
4363452         858.128697     6855.498790
4363453        8396.781459     6855.763449
4363454       48533.089069     6846.090966
4363455          83.831604     6854.195090
4363456          98.896906     6850.600000

In [8]:
# Task 3. Rename
"""
Script to rename column `Timestamp` to `Datetime`
Convert timestamp values to datetime values
Display only the Datetime and Close columns
"""
task3_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task3_df.rename(columns={'Timestamp': 'Datetime'}, inplace=True)
task3_df['Datetime'] = pd.to_datetime(task3_df['Datetime'], unit='s')

task3_df = task3_df[['Datetime', 'Close']]

print(task3_df.tail())

                   Datetime    Close
2099755 2019-01-07 22:02:00  4006.01
2099756 2019-01-07 22:03:00  4006.01
2099757 2019-01-07 22:04:00  4006.01
2099758 2019-01-07 22:05:00  4005.50
2099759 2019-01-07 22:06:00  4005.99

In [9]:
# Task 4. To Numpy
task4_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

A = task4_df.tail(10)[['High', 'Close']].to_numpy()

print(A)

[[4009.54 4007.01]
 [4007.01 4003.49]
 [4007.29 4006.57]
 [4006.57 4006.56]
 [4006.57 4006.01]
 [4006.57 4006.01]
 [4006.57 4006.01]
 [4006.01 4006.01]
 [4006.01 4005.5 ]
 [4006.01 4005.99]]

In [10]:
# Task 5. Slice
task5_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task5_df = task5_df[['High', 'Low', 'Close', 'Volume_(BTC)']].iloc[::60, :]

print(task5_df.tail())

            High      Low    Close  Volume_(BTC)
2099460  4020.08  4020.07  4020.08      4.704989
2099520  4020.94  4020.93  4020.94      2.111411
2099580  4020.00  4019.01  4020.00      4.637035
2099640  4017.00  4016.99  4017.00      2.362372
2099700  4014.78  4013.50  4014.72      1.291557

In [11]:
# Task 6. Flip it and Switch it
task6_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task6_df = task6_df.sort_values(by=['Timestamp'], ascending=False).transpose()

print(task6_df.tail(8))

                        2099759       2099758       2099757       2099756  \
Timestamp          1.546899e+09  1.546899e+09  1.546899e+09  1.546899e+09
Open               4.005510e+03  4.006010e+03  4.006010e+03  4.006010e+03
High               4.006010e+03  4.006010e+03  4.006010e+03  4.006570e+03
Low                4.005510e+03  4.005500e+03  4.006000e+03  4.006000e+03
Close              4.005990e+03  4.005500e+03  4.006010e+03  4.006010e+03
Volume_(BTC)       1.752778e+00  2.699700e+00  1.192123e+00  9.021637e-01
Volume_(Currency)  7.021184e+03  1.081424e+04  4.775647e+03  3.614083e+03
Weighted_Price     4.005746e+03  4.005720e+03  4.006004e+03  4.006017e+03

                        2099755       2099754       2099753       2099752  \
Timestamp          1.546899e+09  1.546898e+09  1.546898e+09  1.546898e+09
Open               4.006010e+03  4.006570e+03  4.006560e+03  4.003490e+03
High               4.006570e+03  4.006570e+03  4.006570e+03  4.007290e+03
Low                4.006000e+03  4.006000e+03  4.006560e+03  4.003490e+03
Close              4.006010e+03  4.006010e+03  4.006560e+03  4.006570e+03
Volume_(BTC)       3.382954e+00  6.951222e+00  8.475772e+00  1.183828e+01
Volume_(Currency)  1.355343e+04  2.784951e+04  3.395870e+04  4.741754e+04
Weighted_Price     4.006390e+03  4.006419e+03  4.006561e+03  4.005441e+03

                        2099751       2099750  ...       9        \
Timestamp          1.546898e+09  1.546898e+09  ...  1.417413e+09
Open               4.007000e+03  4.009540e+03  ...           NaN
High               4.007010e+03  4.009540e+03  ...           NaN
Low                4.000240e+03  4.007000e+03  ...           NaN
Close              4.003490e+03  4.007010e+03  ...           NaN
Volume_(BTC)       9.452163e+00  4.540920e+00  ...           NaN
Volume_(Currency)  3.784576e+04  1.819998e+04  ...           NaN
Weighted_Price     4.003925e+03  4.007993e+03  ...           NaN

                        8             7             6             5        \
Timestamp          1.417412e+09  1.417412e+09  1.417412e+09  1.417412e+09
Open                        NaN  3.000000e+02           NaN           NaN
High                        NaN  3.000000e+02           NaN           NaN
Low                         NaN  3.000000e+02           NaN           NaN
Close                       NaN  3.000000e+02           NaN           NaN
Volume_(BTC)                NaN  1.000000e-02           NaN           NaN
Volume_(Currency)           NaN  3.000000e+00           NaN           NaN
Weighted_Price              NaN  3.000000e+02           NaN           NaN

                        4             3             2             1        \
Timestamp          1.417412e+09  1.417412e+09  1.417412e+09  1.417412e+09
Open                        NaN           NaN           NaN           NaN
High                        NaN           NaN           NaN           NaN
Low                         NaN           NaN           NaN           NaN
Close                       NaN           NaN           NaN           NaN
Volume_(BTC)                NaN           NaN           NaN           NaN
Volume_(Currency)           NaN           NaN           NaN           NaN
Weighted_Price              NaN           NaN           NaN           NaN

                        0
Timestamp          1.417412e+09
Open               3.000000e+02
High               3.000000e+02
Low                3.000000e+02
Close              3.000000e+02
Volume_(BTC)       1.000000e-02
Volume_(Currency)  3.000000e+00
Weighted_Price     3.000000e+02

[8 rows x 2099760 columns]

In [12]:
# Task 7. Sort
task7_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task7_df = task7_df.sort_values(by=['High'], ascending=False)

print(task7_df.head())

          Timestamp      Open      High       Low     Close  Volume_(BTC)  \
1543350  1513514220  19891.99  19891.99  19891.98  19891.98      3.323210
1543352  1513514340  19891.99  19891.99  19891.98  19891.98      9.836946
1543351  1513514280  19891.99  19891.99  19891.98  19891.98      8.172155
1543349  1513514160  19891.00  19891.99  19890.99  19891.99      1.336512
1543353  1513514400  19891.99  19891.99  19876.22  19884.99     19.925151

         Volume_(Currency)  Weighted_Price
1543350       66105.250870    19891.984712
1543352      195676.363110    19891.983294
1543351      162560.403740    19891.987528
1543349       26584.930278    19891.272886
1543353      396292.881750    19889.078007

In [13]:
# Task 8. Prune
task8_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task8_df = task8_df.dropna()

print(task8_df.head())

       Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0     1417411980  300.0  300.0  300.0  300.0      0.010000            3.00000
7     1417412400  300.0  300.0  300.0  300.0      0.010000            3.00000
51    1417415040  370.0  370.0  370.0  370.0      0.010000            3.70000
77    1417416600  370.0  370.0  370.0  370.0      0.026556            9.82555
1436  1417498140  377.0  377.0  377.0  377.0      0.010000            3.77000

      Weighted_Price
0              300.0
7              300.0
51             370.0
77             370.0
1436           377.0

In [14]:
# Task 9. Fill
task9_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task9_df = task9_df.drop(columns=['Weighted_Price'])

task9_df['Close'] = task9_df['Close'].fillna(method='ffill')
task9_df['High'] = task9_df['High'].fillna(task9_df['Close'])
task9_df['Low'] = task9_df['Low'].fillna(task9_df['Close'])
task9_df['Open'] = task9_df['Open'].fillna(task9_df['Close'])

task9_df['Volume_(BTC)'] = task9_df['Volume_(BTC)'].fillna(0)
task9_df['Volume_(Currency)'] = task9_df['Volume_(Currency)'].fillna(0)

print(task9_df.head())
print(task9_df.tail())

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040  300.0  300.0  300.0  300.0          0.00                0.0
2  1417412100  300.0  300.0  300.0  300.0          0.00                0.0
3  1417412160  300.0  300.0  300.0  300.0          0.00                0.0
4  1417412220  300.0  300.0  300.0  300.0          0.00                0.0
          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
2099755  1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
2099756  1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
2099757  1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
2099758  1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
2099759  1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

         Volume_(Currency)
2099755       13553.433078
2099756        3614.083168
2099757        4775.647308
2099758       10814.241898
2099759        7021.183546

In [54]:
# Task 10. Indexing
task10_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task10_df = task10_df.set_index('Timestamp')

task10_df.tail()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083168,4006.017232
1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614

In [8]:
# Task 11. Concat
task11_df1 = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
task11_df2 = from_file('data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')

task11_df1 = task11_df1.set_index('Timestamp')
task11_df2 = task11_df2.set_index('Timestamp')

task11_df = pd.concat([task11_df2, task11_df1], keys=['bitstamp', 'coinbase'])

print(task11_df)

                        Open     High      Low    Close  Volume_(BTC)  \
         Timestamp
bitstamp 1325317920     4.39     4.39     4.39     4.39      0.455581
         1325317980      NaN      NaN      NaN      NaN           NaN
         1325318040      NaN      NaN      NaN      NaN           NaN
         1325318100      NaN      NaN      NaN      NaN           NaN
         1325318160      NaN      NaN      NaN      NaN           NaN
...                      ...      ...      ...      ...           ...
coinbase 1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
         1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
         1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
         1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
         1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

                     Volume_(Currency)  Weighted_Price
         Timestamp
bitstamp 1325317920           2.000000        4.390000
         1325317980                NaN             NaN
         1325318040                NaN             NaN
         1325318100                NaN             NaN
         1325318160                NaN             NaN
...                                ...             ...
coinbase 1546898520       13553.433078     4006.390309
         1546898580        3614.083168     4006.017232
         1546898640        4775.647308     4006.003635
         1546898700       10814.241898     4005.719991
         1546898760        7021.183546     4005.745614

[6463217 rows x 7 columns]

In [16]:
# Task 12. Hierarchy
task12_coinbase = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
task12_bitstamp = from_file('data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')

# Remove unwanted rows coinbase
task12_coinbase = task12_coinbase[(task12_coinbase['Timestamp'] >= 1417411980)]
task12_coinbase = task12_coinbase[(task12_coinbase['Timestamp'] <= 1417417980)]

# Remove unwanted rows bitstamp
task12_bitstamp = task12_bitstamp[(task12_bitstamp['Timestamp'] >= 1417411980)]
task12_bitstamp = task12_bitstamp[(task12_bitstamp['Timestamp'] <= 1417417980)]

# Set Timestamp index for both tables
task12_bitstamp.set_index('Timestamp', inplace=True)
task12_coinbase.set_index('Timestamp', inplace=True)

# Concatenate the two dataframes
task12_df = pd.concat([task12_bitstamp, task12_coinbase],
                      keys=['bitstamp', 'coinbase'])

task12_df = task12_df.swaplevel(0, 1).sort_index()

print(task12_df)

                       Open   High     Low   Close  Volume_(BTC)  \
Timestamp
1417411980 bitstamp  379.99  380.0  379.99  380.00      3.901265
           coinbase  300.00  300.0  300.00  300.00      0.010000
1417412040 bitstamp  380.00  380.0  380.00  380.00     35.249895
           coinbase     NaN    NaN     NaN     NaN           NaN
1417412100 bitstamp  380.00  380.0  380.00  380.00      3.712000
...                     ...    ...     ...     ...           ...
1417417860 coinbase     NaN    NaN     NaN     NaN           NaN
1417417920 bitstamp  380.09  380.1  380.09  380.10      1.503000
           coinbase     NaN    NaN     NaN     NaN           NaN
1417417980 bitstamp  380.10  380.1  378.85  378.85     26.599796
           coinbase     NaN    NaN     NaN     NaN           NaN

                     Volume_(Currency)  Weighted_Price
Timestamp
1417411980 bitstamp        1482.461708      379.995162
           coinbase           3.000000      300.000000
1417412040 bitstamp       13394.959997      380.000000
           coinbase                NaN             NaN
1417412100 bitstamp        1410.560000      380.000000
...                                ...             ...
1417417860 coinbase                NaN             NaN
1417417920 bitstamp         571.285290      380.096667
           coinbase                NaN             NaN
1417417980 bitstamp       10079.364182      378.926376
           coinbase                NaN             NaN

[202 rows x 7 columns]

In [71]:
# Task 13. Analyze
task13_df = from_file('data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

task13_df.drop(['Timestamp'], axis=1, inplace=True)

stats = task13_df.describe()

print(stats)

               Open          High           Low         Close  Volume_(BTC)  \
count  1.990691e+06  1.990691e+06  1.990691e+06  1.990691e+06  1.990691e+06
mean   3.246403e+03  3.247829e+03  3.244856e+03  3.246403e+03  7.849139e+00
std    3.799154e+03  3.801394e+03  3.796761e+03  3.799150e+03  1.873222e+01
min    6.000000e-02  6.000000e-02  6.000000e-02  6.000000e-02  1.000000e-08
25%    4.195800e+02  4.196400e+02  4.195000e+02  4.195700e+02  9.024000e-01
50%    1.014580e+03  1.014890e+03  1.014150e+03  1.014530e+03  2.692900e+00
75%    6.322630e+03  6.324010e+03  6.321090e+03  6.322670e+03  7.600965e+00
max    1.989199e+04  1.989199e+04  1.989198e+04  1.989199e+04  1.563267e+03

       Volume_(Currency)  Weighted_Price
count       1.990691e+06    1.990691e+06
mean        3.600157e+04    3.246341e+03
std         1.401879e+05    3.799078e+03
min         2.641700e-06    6.000000e-02
25%         6.440031e+02    4.195645e+02
50%         3.695642e+03    1.014512e+03
75%         1.972392e+04    6.322550e+03
max         1.997076e+07    1.989199e+04

In [ ]:
# Task 14. Visualize
from datetime import datetime
import matplotlib.pyplot as plt

from_file = __import__('2-from_file').from_file

df = from_file('coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')